
<div style="text-align:center" ng-cloak ng-controller="ProjectionController">
<div class="b1">
	<h2>Nova projekcija</h2>
    <div class="container">
        <div class="carousel-caption>
            <form role="form"> 
                <p><input type="text"  ng-model="projection.naziv"
                          placeholder="Unesite naziv"></p>
                <p><input type="text"  ng-model="projection.glumci"
                          placeholder="Unesite spisak glumaca"></p>
                <p><input type="text"  ng-model="projection.zanr"
                          placeholder="Unesite zanr"></p>
                <p><input type="text"  ng-model="projection.imeReditelj"
                          placeholder="Unesite ime reditelja"></p>          
				<p><input type="text"  ng-model="projection.trajanje"
                          placeholder="Unesite trajanje"></p>
                <p><input type="text"  ng-model="projection.poster"
                          placeholder="Unesite poster"></p>
                <p><input type="text"  ng-model="projection.ocena"
                          placeholder="Unesite prosecnu ocenu"></p>
                <p><input type="text"  ng-model="projection.opis"
                          placeholder="Unesite kratak opis"></p>      
                <p><input type="text"  ng-model="projection.sala"
                          placeholder="Unesite sale u kojima se vrse projekcije"></p>
                <p><input type="text"  ng-model="projection.termin"
                          placeholder="Unesite termine u kojima se vrse projekcije"></p>     
    			<p><input type="text"  ng-model="projection.cena"
                          placeholder="Unesite cenu"></p>   
                <p>
                    <button type="submit"  ng-click="projectionGuest(projection)">Dodaj projekciju</button>  
                </p>
                </br>
            </form>
        </div>
    </div>
</div>
</div> 