<div ng-cloak ng-controller="UserHomeController">

 
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link disabled" href="#!/user" >Pocetna</a>
      <a class="nav-item nav-link disabled" href="#!/user/profile" ng-click="disconnect()">Moj Profil [<span style="color:black" ng-bind-html="loggedUser.data.name"></span>]</a>
      <a class="nav-item nav-link disabled" href="#!/user/friends" ng-click="disconnect()">Prijatelji</a>
       <a class="nav-item nav-link disabled" href="#!/user/friendRequests" ng-click="disconnect()">Zahtevi za prijateljstvo<span class="badge" ng-if="showRequests" style="background-color: red" ngshow="$scope.friendRequestsNumber"></span></a>
      </div>
      <div ng-if="$localStorage.logged !== null">
      <a class="nav-item" href="#!/" ng-click="logOut()">Izloguj se</a>
      </div>
    </div>
    

</nav>   
<div class="container" style="align:left; background-color:white;width:100%"> 
        
            <h3>Istorija poseta</h3><br><br>
            <table class="responstable">
                <thead>
                <tr style="color:blue">
                    <th width="200px">Bioskop</th>
                    <th width="150px">Datum</th>
                    <th width="150px">Ocena</th>
                </tr>
                </thead>
                <tbody> 
                	<tr> 
                  
                </tr>
                </tbody>
                
            </table><br>
            Nema podataka o istoriji poseta bioskopima<br><br><br>
              <table class="responstable">
                <thead>
                <tr style="color:blue">
                    <th width="200px">Pozoriste</th>
                    <th width="150px">Datum</th>
                    <th width="150px">Ocena</th>
                </tr>
                </thead>
                <tbody> 
                 <tr></tr>
                </tbody>
            </table><br>
            Nema podataka o istoriji poseta pozoristima
        </div>
  

</div>