<div ng-cloak ng-controller="UpdateUserProfileController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled" href="#!/user" ng-click="disconnect()">Pocetna</a>
      <a class="nav-item nav-link disabled" href="#!/user/profile">Moj Profil</a>
      <a class="nav-item nav-link disabled" href="#!/user/friends" ng-click="disconnect()">Prijatelji</a>
       <a class="nav-item nav-link disabled" href="#!/user/friendRequests" ng-click="disconnect()">Zahtevi za prijateljstvo<span class="badge" ng-if="showRequests" style="background-color: red" ngshow="$scope.friendRequestsNumber"></span></a>
      </div>
      <div ng-if="$localStorage.logged !== null">
      <a class="nav-item" href="#!/" ng-click="logOut()">Izloguj se</a>
      </div>
    </div>

</nav>   
 
    

<div class="container" style="align:left; background-color:white;width:100%">
<h4> Azuriraj informacije</h4>
    <form role="form"> 
        <label>Ime</label>
        <input type="text" class="form-control form-control-lg" ng-model="userUpdate.name">
        <label>Prezime</label>
        <input type="text" class="form-control form-control-lg" ng-model="userUpdate.surname">
        <label>Grad</label> 
        <input type="text" class="form-control form-control-lg" ng-model="userUpdate.city">
        <label>Telefon</label>
        <input type="text" class="form-control form-control-lg" ng-model="userUpdate.phoneNum">
        <label>Email</label>
        <input type="email" class="form-control form-control-lg" ng-model="userUpdate.email">
    </form>


    <button type="submit" class="btn btn-default" ng-click="update(userUpdate)">Update</button> 
</div>
</div>
