<div ng-cloak ng-controller="UserFriendsController">
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link disabled" href="#!/user" ng-click="disconnect()">Pocetna</a>
      <a class="nav-item nav-link disabled" href="#!/user/profile" ng-click="disconnect()">Moj Profil [<span style="color:black" ng-bind-html="loggedUser.data.name"></span>]</a>
      <a class="nav-item nav-link disabled" href="#!/user/friends" >Prijatelji</a>
       <a class="nav-item nav-link disabled" href="#!/user/friendRequests" ng-click="disconnect()">Zahtevi za prijateljstvo<span class="badge" ng-if="showRequests" style="background-color: red" ngshow="$scope.friendRequestsNumber"></span></a>
       <a class="nav-item nav-link disabled" href="#!/user/fanzone" ng-click="disconnect()">Fan zona</a>
      </div>
      <div ng-if="$localStorage.logged !== null">
      <a class="nav-item" href="#!/" ng-click="logOut()">Izloguj se</a>
      </div>
    </div>

</nav>   
  
    <div class="container" style="align:left; background-color:white;width:100%">
       

                    
                        <span class="fa fa-users fa-2x principal-title"></span>
                   		<a href="#!/user/searchPeople" class="btn btn-success" role="button" ng-click="disconnect()">Dodaj prijatelja</a>
                        <button type="button" class="btn btn-default btn-md" ng-click="sortByName()">Sortiraj po imenu</button>
                        <button type="button" class="btn btn-default btn-md" ng-click="sortBySurname()">Sortraj po prezimenu</button>
                        <button type="button" class="btn btn-danger btn-md" ng-click="resetSort()">Restartuj sort</button>
                   
                

               		<h4>PRIJATELJI</h4>
                    <ul class="list-group"> 
                       
                        <li href="#" class="list-group-item-info text-left" ng-repeat="friend in friends.data" ng-if="viewMode == 'not'">
                            
                            <label class="name">
                                <h5><span ng-bind-html="(friend.name + ' ' + friend.surname)"></span>&nbsp;</h5>  
                            </label>
                            <button type="button" class="btn btn-danger" ng-click="delete(friend.id)">Ukloni prijatelja</button>
                            <div class="break"></div> 
                            
                        </li>  
                        <li href="#" class="list-group-item-info text-left" ng-repeat="friend in friends.data | orderBy:'name'" ng-if="viewMode == 'name'">
                           
                            <label class="name"> 
                                 <h5><span ng-bind-html="(friend.name + ' ' + friend.surname)"></span>&nbsp;</h5>
                            </label>
                           <button type="button" class="btn btn-danger" ng-click="delete(friend.id)">Ukloni prijatelja</button>
                            <div class="break"></div>
                        </li>
                        <li href="#" class="list-group-item-info text-left" ng-repeat="friend in friends.data | orderBy:'surname'" ng-if="viewMode == 'surname'">
                            
                            <label class="name">
                                 <h5><span ng-bind-html="(friend.name + ' ' + friend.surname)"></span>&nbsp;</h5>
                            </label>
                            
                                <button type="button" class="btn btn-danger" ng-click="delete(friend.id)">Ukloni prijatelja</button>
                            
                                
                           
                            <div class="break"></div>
                        </li>
                     
                    </ul>
                </div>
           
        
  
</div>

