<div ng-cloak ng-controller="UserFriendRequestsController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled" href="#!/user" ng-click="disconnect()">Pocetna</a>
      <a class="nav-item nav-link disabled" href="#!/user/profile">Profil</a>
      <a class="nav-item nav-link disabled" href="#!/user/friends" ng-click="disconnect()">Prijatelji</a>
       <a class="nav-item nav-link disabled" href="#!/user/friendRequests">Zahtevi za prijateljstvo<span class="badge" ng-if="showRequests" style="background-color: red" ngshow="$scope.friendRequestsNumber"></span></a>
      </div>
      <div ng-if="$localStorage.logged != null">
      <a class="nav-item" href="#/" ng-click="logOut()">Izloguj se</a>
      </div>
    </div>

</nav>   
    



    <div class="container">
        <div class="carousel-caption">

            <div class="span3 well">

                <div class="jumbotron list-content">
                    <ul class="list-group">
                        <li href="#" class="list-group-item title">
                            ZAHTEVI ZA PRIJATELJSTVO
                        </li>
                        <li href="#" class="list-group-item text-left" ng-repeat="friend in friendRequests">
                            
                            <label class="name">
                                 <span ng-bind="(friend.name) + (friend.surname)"></span><br><br> 
                            </label> 
                            <label class="pull-right">
                                <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" title="Accept" ng-click="accept(friend.id)"></a>
                                <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" title="Ignore" ng-click="ignore(friend.id)"></a>
                            </label>
                            <div class="break"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    
</div>

<style>
    .list-content{
        min-height:300px;
    }
    .list-content .list-group .title{
        background:#5bc0de;
        border:2px solid #DDDDDD;
        font-weight:bold;
        color:#FFFFFF;
    }
    .list-group-item img {
        height:80px;
        width:80px;
    }

    .jumbotron .btn {
        padding: 5px 5px !important;
        font-size: 12px !important;
    }
    .prj-name {
        color:#5bc0de;
    }
    .break{
        width:100%;
        margin:20px;
    }
    .name {
        color:#5bc0de;
    }
</style>